<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-2.5.xsd "
	default-autowire="byName">

	<!-- PTP jms模板 -->
	<bean id="jmsTemplate_sender" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="sed_mqPoolConnectionFactory" />
		<property name="defaultDestination" ref="topicDestination" />
		<property name="messageConverter" ref="noticeBeanMessageConvert" />
		<property name="pubSubDomain" value="true" />
		<property name="explicitQosEnabled" value="true" />
		<!-- deliveryMode, priority, timeToLive 的开关，要生效，必须配置为true，默认false-->  
		<property name="deliveryMode" value="1" />
		<!-- 发送模式  DeliveryMode.NON_PERSISTENT=1:非持久 ; DeliveryMode.PERSISTENT=2:持久-->
		<property name="sessionAcknowledgeMode" value="1" />
		<!-- 消息应答方式  
        Session.AUTO_ACKNOWLEDGE  消息自动签收  
        Session.CLIENT_ACKNOWLEDGE  客户端调用acknowledge方法手动签收  
        Session.DUPS_OK_ACKNOWLEDGE 不必必须签收，消息可能会重复发送  
        -->
	</bean>
	
</beans> 