<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 资源、配置环境 -->
	<import resource="classpath*:applicationContext-resource.xml" />
	
	<!-- JMS 配置 -->
	<import resource="classpath*:applicationContext-jms.xml"/>
	<import resource="classpath*:applicationContext-jms-receiver.xml" />
	<import resource="classpath*:applicationContext-jms-sender.xml" />
	
	<import resource="classpath*:applicationContext-dubbo.xml"/>
</beans>